{{#each projects as |project|}}

  <tr>

    <td>
      <div class="img"></div>
      <div>
        <p class="song">{{song}}</p>
      </div>
    </td>

    <td>
      <div>
        <p class="artist">{{artist}}</p>
      </div>
    </td>

    <td>
      <div>
        <p class="album">{{album}}</p>
      </div>
    </td>

  </tr>

{{/each}}