{{#each projects as |project| }}

<tr>
                  
    <td>
        <div class="img"></div>
            <div>
                <p class="song">{{song}}</p>
            </div>
    </td>

    <td>
        <div>
            <p class="singer">{{singer}}</p>
        </div>                
    </td>

    <td>
        <p class="album">{{album}}</p>
    </td>
                    
    <td>
        <p class="duration">{{duration}}</p>
    </td>

    </td>

</tr>

{{/each}}