*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    background: url(../img/bg.jpg),no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
}

.logo img{
    height: 100px;
}

.priColor{
    color: #3C64B1;
}

.mybtn{
    padding: 12px 18px;
    background-color: #4A90E2;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 20px;
}

.mybtn:hover{
    background-color:#3C64B1;
}



@media only screen and (max-width: 600px) {
    .mybtn{
        padding: 5px 10px;
    }

    .logo img{
        height: 80px;
    }
}
