*{
    text-transform: capitalize;
}

th{
    font-size: 24px;
    color: #a1a855;
    border: none;
    text-transform: uppercase;
    padding: 15px 8px;
}

td{
    border: none;
}

td p {
    color: #3C64B1;
	font-weight: 600;
}

.title{
    text-transform: uppercase;
    color: #AAC7FF;
    font-size: 48px;
}

.table-container{
	min-height: 60vh;
}

.user-profile {
	display: flex;
	align-items: center;
	border: none;
	background: transparent;
	cursor: pointer;
	color: #3C64B1;
	transition: 0.25s ease;
}

.user-profile span:nth-child(1) {
		display: flex;
        font-weight: 700;
		padding-top: 1rem;
		padding-bottom: 1rem;
}

.user-profile span:nth-child(2) {
	transition: 0.25s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: 1.5rem;
	margin-right: 1rem;
	flex-shrink: 0;
}

.user-profile img{
	width: 50px;
}

.dropdownText ul{
	border: #AAC7FF;
}

.dropdownText li a{
	color: #4A90E2;
	font-weight: 600;
}

.dropdownText li a:hover{
	color: #3C64B1;
}

.icon{
	color: #4A90E2;
	padding:0 20px ;
	cursor: pointer;
}

.icon:hover{
	color: #3C64B1;
}



@media only screen and (max-width: 600px) {
    .title{
        font-size: 28px;
    }

	.song{
		font-size: 18px;
	}

	.icon{
		padding: 0 10px;
	}
}