body{
    background: url(../img/bg3.jpg),no-repeat;
    background-size: cover;
}

.playlist{
    padding:16px 20px;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.3);
    border-right: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    background: rgba(27, 25, 25, 0.2);
    border-radius: 18px;
}

.title{
    color: #3C64B1;
}

